<div class="card">
  <div class="card-content">
    <span class="card-title">Add Products</span>
    <form (ngSubmit)="onSubmit()" class="col s6">
      <div class="row">
        <div class="input-field col s6">
            <input type="text" placeholder="Type of Product: " [(ngModel)]="item.type" name="type">
            <label>Type of Product</label>
        </div>
        <div class="input-field col s6">
          <input type="text" placeholder="Description: " [(ngModel)]="item.description" name="description">
          <label>Description</label>
        </div>
        <div class="input-field col s6">
          <input type="text" placeholder="Price" [(ngModel)]="item.price" name="price">
          <label>Price</label>
        </div>
      </div>
      <div class="row">
          <input onClick="return confirm('are you sure, do you want to add this item?')" type="submit" value="Submit" class="btn">
      </div>
    </form>
  </div>
</div>