<!-- The content below is only a placeholder and can be replaced. -->
<!-- <nav>
        <div class="nav-wrapper black">
          <ul> 
            <li class="li"><a><i class="fa fa-bars bar"></i></a>
                <ul>
                  <li class="li1"><a routerLink="">Home</a></li>
                  <li class="li1"><a href="account/48">Manage Account</a></li>
                  <li class="li1"><a href="product/48">Manage Products</a></li>            
                  <li class="li1"><a href="product1/48">Manage Packages</a></li>
                  <li class="li1"><a href="file/48">Manage Images</a></li>                  
                  <li class="li1"><a href="about/48">About</a></li>
                  <li class="li1"><a href="logout/48">Logout</a></li>
                </ul> 
            </li>
          </ul>
        </div>
</nav> -->

<router-outlet></router-outlet>
<!-- <app-login></app-login> -->